 .u-section-1 {
  min-height: 924px;
}

.u-section-1 .u-group-1 {
  min-height: 924px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 30px;
}

.u-section-1 .u-group-2 {
  width: 1015px;
  min-height: 254px;
  height: auto;
  margin: 507px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 0px -2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 300;
  font-family: Georgia, serif;
  margin: 23px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  text-shadow: -2px -2px 40px rgba(128,128,128,1);
  font-weight: 700;
  font-family: Aboreto;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  --animation-custom_in-scale: 1;
  background-image: none;
  font-weight: 700;
  font-family: Aboreto;
  margin: 25px 259px 0 auto;
  padding: 9px 88px 9px 87px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-family: Aboreto;
  margin: -54px auto 0 259px;
  padding: 12px 84px 12px 83px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 880px;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 59px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -50px;
    margin-left: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-2 {
    width: 660px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -54px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 1069px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
    min-height: 435px;
    margin-top: 400px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 88px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -136px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
  
}

.u-section-2 .u-sheet-1 {
  min-height: 1061px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 12px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 694px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 0 0 0 60px;
}

.u-section-2 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-2 .u-image-1 {
  min-height: 305px;
  background-image: url("images/Untitleddesign-1.png");
  background-position: 50% 59.59%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  min-height: 432px;
  background-image: url("images/Untitleddesign.png");
  background-position: 23.16% 69.94%;
  background-size: auto 150%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-image-3 {
  min-height: 567px;
  background-image: url("images/Untitleddesign1.png");
  background-position: 96.45% 0%;
  background-size: auto 120%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 20px;
  }

  .u-section-2 .u-image-1 {
    min-height: 251px;
  }

  .u-section-2 .u-image-2 {
    min-height: 356px;
  }

  .u-section-2 .u-image-3 {
    min-height: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 357px;
  }

  .u-section-2 .u-image-2 {
    min-height: 507px;
    background-position: 13.99% 71.52%;
  }

  .u-section-2 .u-image-3 {
    min-height: 665px;
    background-position: 100% 0%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 268px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 499px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 169px;
  }

  .u-section-2 .u-image-2 {
    min-height: 239px;
  }

  .u-section-2 .u-image-3 {
    min-height: 314px;
  }
} .u-section-3 {
  background-image: none;
  
}

.u-section-3 .u-sheet-1 {
  min-height: 684px;
}

.u-section-3 .u-text-1 {
  width: 890px;
  font-weight: 700;
  margin: 91px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 32px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  
  padding: 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 126px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 169px;
  height: 54px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 126px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 169px;
  height: 54px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 126px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 169px;
  height: 54px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 126px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 169px;
  height: 54px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 126px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 165px;
  height: 53px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 126px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 169px;
  height: 60px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 126px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  width: 169px;
  height: 54px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 126px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  width: 169px;
  height: 62px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-3 .u-text-2 {
    font-weight: 400;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 125px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 125px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 125px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 125px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 125px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 125px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 125px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 125px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 127px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 127px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1701px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 122px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 122px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 122px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 122px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 123px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 122px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 122px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1839px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 114px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 114px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 114px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 114px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 120px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 114px;
  }
} .u-section-4 {
  background-image: none;
  
}

.u-section-4 .u-sheet-1 {
  min-height: 732px;
}

.u-section-4 .u-text-1 {
  width: 890px;
  font-weight: 700;
  margin: 91px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 32px 0 0;
}

.u-section-4 .u-gallery-1 {
  margin-top: 59px;
  margin-bottom: 60px;
  height: 276px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-1 {
  width: 375px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-2 {
  width: 375px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-3 {
  width: 375px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-4 {
  width: 375px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-5 {
  width: 375px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-6 {
  width: 375px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  
  padding: 20px;
}

.u-section-4 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-7 {
  width: 375px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
  
}

.u-section-5 .u-sheet-1 {
  min-height: 633px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 36px;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 180px;
  
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 1px 11px 0 1px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 12px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 347px;
  
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 84px;
  min-width: 52px;
  margin: 23px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-btn-1 {
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-family: Aboreto;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  animation-timing-function: ease-in-out;
  background-image: none;
  margin: 93px auto 0 0;
  padding: 6px 30px 6px 29px;
}

.u-section-5 .u-icon-3 {
  font-size: 1.2858em;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-family: Aboreto;
  font-weight: 700;
  animation-timing-function: ease-out;
  margin: 12px auto 0 0;
  padding: 7px 31px 7px 30px;
}

.u-section-5 .u-icon-4 {
  margin-right: 8px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 527px;
  
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-5 .u-input-1 {
  height: 55px;
}

.u-section-5 .u-input-2 {
  height: 55px;
}

.u-section-5 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  
  padding: 14px 25px 14px 23px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-5 .u-btn-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-3 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}