 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/The_Arctic_Engineer_similar_house_just_as_it_is_shown_in_fb10a50c-1a5b-4092-bbb9-2fe63f4c1c21.png");
  background-position: 50% 44.25%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 329px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 661px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-slider-1 {
  min-height: 469px;
  height: auto;
  width: 1020px;
  margin: 20px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-text-2 {
  margin: 57px 0 0;
}

.u-section-2 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/dan.png");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-2 .u-text-3 {
  width: 191px;
  font-weight: 700;
  margin: 20px 335px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 87px 80px 0;
}

.u-section-2 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/farhad.png");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  margin: 87px 80px 0;
}

.u-section-2 .u-image-3 {
  width: 83px;
  height: 83px;
  background-image: url("images/GaryRehal.png");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  margin: 87px 80px 0;
}

.u-section-2 .u-image-4 {
  width: 83px;
  height: 83px;
  background-image: url("images/KulwantSandhu.png");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-10 {
  margin: 87px 80px 0;
}

.u-section-2 .u-image-5 {
  width: 83px;
  height: 83px;
  background-image: url("images/CharanjitSinghParmar.png");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-12 {
  margin: 87px auto 0;
}

.u-section-2 .u-image-6 {
  width: 83px;
  height: 83px;
  background-image: url("images/SukhvirBains.png");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-14 {
  margin: 87px auto 0;
}

.u-section-2 .u-image-7 {
  width: 83px;
  height: 83px;
  background-image: url("images/virilisvirilis.png");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-16 {
  margin: 87px auto 0;
}

.u-section-2 .u-image-8 {
  width: 83px;
  height: 83px;
  background-image: url("images/mater66.png");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  width: 191px;
  margin: 20px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.u-section-2 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    width: 940px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 295px;
    margin-right: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 235px;
    margin-right: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 165px;
    margin-right: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 65px;
    margin-right: 65px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 780px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-gallery-1 {
  width: 970px;
  height: 497px;
  grid-gap: 10px 10px;
  margin: 38px auto 60px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 30px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 30px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 30px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    width: 940px;
  }

  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-5 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    width: 340px;
  }
}